@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import 'variables';

body {
  background-color: #386641 !important;
  // color: #F2E8CF !important
}

.treePictureContainer {
  // border: 1px red solid;
  height: auto;
  width: auto;
}

.feed {
  border: 1px green solid;
}
