@import "~@fortawesome/fontawesome-free/css/all.min.css";
@import 'variables';

body {
  background-color: $favColor;
}

.treePictureContainer {
  border: 1px red solid;
  height: auto;
  width: auto;
}
